@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,simsun,sans-serif";
}
.tcolor{
	color:#409eff!important;
}
.breadcrumb{
  .el-menu.el-menu--horizontal{
    border-bottom: 0;
  }
}

.el-tabs__nav-wrap::after{
  background-color:transparent ;
}
// label {
//   font-weight: 700;
// }

html {
  height: 100%;
  box-sizing: border-box;
	font-size: 10px;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.cpointer{
	cursor: pointer;
}
.red-color{
	color: red;
}
.p-relative{
	position: relative;
}
.lh-100{
  line-height: 100px;
}
.fs-14{
	font-size: 14px;
}
.fs-12{
	font-size: 12px;
}
.fs-20{
	font-size: 20px;
}
.fs-45{
	font-size: 45px;
}
.mb-5{
	margin-bottom: 5px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-28{
	margin-bottom: 28px;
}
.ml-8{
	margin-left: 8px;
}
.ml-30{
	margin-left: 30px;
}
.ml-20{
	margin-left: 20px;
}
.mr-20{
	margin-right: 20px;
}
.mr-10{
	margin-right: 10px;
}
.mt-5{
	margin-top: 5px;
}
.mt-10{
	margin-top: 10px;
}
.mt-15{
	margin-top: 15px;
}
.mt-20{
	margin-top: 20px;
}
.mt-45{
	margin-top: 45px;
}
.ta-center{
	text-align: center;
}
.d-iblock{
	display: inline-block;
}
.d-block{
	display: block;
}
.default-color{
	color:#24a0ff
}
div:focus {
  outline: none;
}
.mt10{
	margin-top: 10px;
}
.mt-vh-5{
  margin-top: 5vh;
}
.mt-vh-2{
  margin-top: 2vh;
}
.mt-vh-4{
  margin-top: 4vh;
}
.mt-vh-3{
  margin-top: 3vh;
}
.cp-gesture{
	cursor: pointer;
}
.df-acenter{
  display: flex;
  align-items:center ;
  // height: 100%;
}
.df-fend{
  display: flex;
  align-items:flex-end ;
}
.fw-bold{
  font-weight: bold;
}
.white-color{
  color: #fff;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}


// .el-table__empty-block{
//   display: none;
// }
.el-table th div{
  display: block;
    line-height: 19px;
}
.el-row{
  margin-bottom: 0!important;
}

.colorRed {
  color:red;
}
.colorGreen{
  color :green;
}

  .card-date{
    // width:85px;
    
    position: absolute;
    right:20px;
    top:20px;
    .el-select{
		width: 85px;
	}
	.el-button{
		height:35px;
		padding: 10px;
		margin-left: 5px;
	}
    .el-input__inner{
      // border:0;
      color:rgba(0, 0, 0, 0.45);
      text-align: center;
    }
  }
	.userOverview{
		.card-date{
			.el-select{
				width: 120px;
			}
		}
	}

.mg20{
  margin-left: 20px;
}
.mg10{
  margin-left: 10px;
}
.mr5{
  margin-right: 5px;
}
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}
.mr30{
  margin-right: 30px;
}
.el-tag{
  margin-right: 5px;
}
.dashboard-container{
  .el-dropdown{
    width: 100px;
  }
  .cell{
    .el-select{
      .el-input__inner{
        width: 118px;
      }
    }
  }
  
}
.el-menu-item,.el-submenu__title{
  background-color: #2E323F!important;
  color: #fff!important;
}
.dashboard {
  &-container {
    padding: 30px;
    background: #fff;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.el-radio-button__inner{
  padding: 8px 14px;
}
.el-date-editor .el-range-input{
  margin-left: 5px;
}
.el-range-editor.el-input__inner{
  padding-right: 0;
}
.index-container .el-date-editor--daterange,.el-date-editor--datetimerange.el-input__inner{
  width: 214px;
}
.dateRadio .el-date-editor--datetimerange.el-input__inner{
  width: 342px;
}
.dateRadio .el-date-editor .el-range-input{
  width: 40%!important;
}
.dateRadio .el-range-editor.el-input__inner{
  padding: 3px 9px;
}
.dateRadio .el-range__close-icon{
  display: none;
}
.panel-group .card-panel-col{
  padding-left: 17px;
  padding-right: 16px;
}
.footer{
  text-align: center;
}
// 

#app .sidebar-container .svg-icon{
  margin-right: 12px;
}
.el-menu-item, .el-submenu__title,.el-submenu .el-menu-item{
  height: 50px;
  line-height: 50px;
}
.el-submenu__title{
  font-weight: 500;
  font-family:PingFangSC-Medium;
}
li.el-menu-item {
  span{
    font-weight: 500;
    color: #909399;
    font-size:12px;
  }
}
.sidebar-container{
  .el-menu-item.is-active{
    background-color: #f0f2f5!important;    
  }
  .el-menu-item.is-active span{
    color: rgb(64, 158, 255)!important;
  }
}

.hideSidebar {
  .el-submenu__title,.submenu-title-noDropdown .el-tooltip{
    text-align: center;
  }
  .sidebar-logo-container{
    // margin-left: 10px!important;
    padding-left: 9px!important;
  }
  .searchMenu{
    display:none;
  }
}
.el-progress-bar__inner{
  background-color:rgb(90,177,239);
}

.login-container {
  .el-input input{
    color:#999!important;
    caret-color: #999!important;
  }
  .el-tabs__item{
    height:100%;
  }
}
.login-container .el-tabs__item{
  height: 100%;
}
.el-form-item__content{
  // line-height: 20px;
  background: rgba(248,248,248,1);
}
.dateRadio .el-radio-button__inner{
  padding: 14px;
  font-size: 12px;
}

.el-progress-bar{
  margin-right: -60px!important;
  padding-right: 59px!important;
}
.el-table th.is-leaf{
  background: #f9f9fa!important;
}
.table>thead:first-child>tr:first-child>th{
  border-left: 1px solid #d6d6db;
}
.el-table td, .el-table th{
  padding: 10px 0;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 8px;  /*滚动条宽度*/
    height: 8px;  /*滚动条高度*/
}  
  
// /*定义滚动条轨道 内阴影+圆角*/  
// ::-webkit-scrollbar-track  
// {  
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
//     border-radius: 10px;  /*滚动条的背景区域的圆角*/
//     // background-color: red;/*滚动条的背景颜色*/  
// }  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #999;  /*滚动条的背景颜色*/
}
//超出省略号
.text-hide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.card-panel-num{
	word-wrap:break-word
}
.br10{
  border-radius: 2px;
}
// .hideSidebar .el-tooltip > div{
//   margin-right: 12px!important;
// }
.el-table--scrollable-x .el-table__body-wrapper{
  // z-index: 99;
}
.el-table__fixed-body-wrapper{
  z-index: 99;
}
/*大于1200px屏幕尺寸应用以下样式*/
@media screen and (min-width:1200px){ 
  
  .index-container .card-panel-num{
      font-size: 25px!important;
    }
}
/*大于960px小于1199px屏幕尺寸应用以下样式*/
@media screen and (min-width:960px) and (max-width:1199px) { 
  
    .index-container .card-panel-num{
      font-size: 22px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
/*大于768px小于959px屏幕尺寸应用以下样式*/
@media screen and (min-width: 768px) and (max-width: 959px) { 
 
    .index-container .card-panel-num{
      font-size: 20px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
/*大于480px小于767px屏幕尺寸应用以下样式*/
@media only screen and (min-width: 767px) and (max-width:767px){ 
  
  .index-container .card-panel-num{
      font-size: 18px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
/*小于479px屏幕尺寸应用以下样式*/
@media only screen and (max-width: 479px) { 
  
  .index-container .card-panel-num{
      font-size: 16px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
.el-progress__text{
  margin-left: 13px;
}
.box-card-component{
  margin-left: 0;
}
.el-date-editor .el-range-input{
  font-size: 12px;
}

.container-box{
  // margin-bottom: 24px;
  border-radius: 2px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
}

.el-submenu__title,.submenu-title-noDropdown span{
  font-size: 13px!important;
  color:#fff!important;
}
// 覆盖样式
.el-radio-button .el-radio-button__inner{
  border:0;
  border-right: 1px solid #DCDFE6;
}
.dateRadio .el-radio-button__inner{
  padding: 4px 9px;
}
.el-radio-button:first-child .el-radio-button__inner{
  border-left: 0;
  padding-left: 0;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background: #fff;
  color:#24A0FF;
  border-color: #DCDFE6;
  box-shadow: -1px 0 0 0 #DCDFE6; 
}
.el-radio-button__inner{
  color:rgb(190,197,220);  
}
.el-date-editor .el-range-input{
  width: 36%;
}
.el-date-editor .el-range-separator{
  margin-right: 7px;
}
.wrap-table .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #fff !important;
}
.index-container .box-card-component .progress-item,.index-container .el-progress__text{
  font-size: 12px!important;
}

.chart-wrapper .el-input,.card-panel .el-input{
  font-size: 12px!important;
}
.chart-wrapper-title{
  color: #000;
    font-size: 17px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-left: 4px solid #409eff;
}
// 严格遵守模块化css开发

.num_icon{
  width:10px;
}
// 
.dflex{
  display: flex;
}
.el-form-item{
  margin-bottom: 0;
}
.form-box{
  label{
    font-weight: 500;
    width:90px!important;
  }
  .el-form-item__content{
    margin-left: 100px!important;
    background: transparent;
    
  }
}
// popup样式
.layer-broadside {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.layer-broadside .layer-body{
  position: absolute;
  right: 0;
  top: 80px;
  bottom: 0;
  width: 500px;
  padding: 81px 20px 71px;
  background-color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  box-shadow: 0 30px 30px #a7a7a7;
}
.layer-broadside .layer-body .l-b-title{
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  border-bottom: 1px dashed #afafaf;
  position: absolute;
  left: 20px;
  top: 0;
  right: 20px;
}
.layer-broadside .layer-body .l-b-btn{
  border-top: 1px dashed #afafaf;
  padding-top: 15px;
  position: absolute;
  left: 20px;
  bottom:  20px;
  right: 20px;
}
.layer-broadside .layer-body .l-b-content{
  height: 100%;
  overflow-y: auto;
}
.layer-broadside thead {
  .el-radio__input{
    display: none;
  }
  .el-table-column--selection {
    .cell {
      display: none!important;
    }
  }
} 

.el-date-editor.el-input{
  width:150px;
}
.chooseSystem .el-date-editor.el-input{
  width:184px;
}
// 商品爆款日报
.hotContainer{
  .input_inner{
    .el-input__inner{
      padding: 0;
      text-align: center;
    }
  }
}
//
.el-select{
  max-width:171px; 
}

.el-input__inner{
  height: 35px!important;
  line-height: 35px!important;
}
.el-input{
  font-size: 12px;
}
.el-input__icon{
  line-height: 29px;
}
.el-date-editor .el-range__icon,.el-date-editor .el-range__close-icon{
  line-height: 23px;
}
.el-date-editor .el-range-separator{
  line-height: 27px;
}
.commodity-analysis-btn{
  // flex:1;
}
// .dateRadio{
//   width: 455px;
// }
.checkboxSelect{
  min-width: 152px;
}
.el-form-item__content{
  background: #fff;
}
.confirmPass .el-button{
  padding: 9px 17px;
}  
.el-table__fixed-right{
  z-index: 99;
}
.el-date-editor .el-range-input{
  width: 66px;
}
.weui-cell{
  // padding: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    .weui-cell__bd{
      -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    }
  }
.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 24px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
  z-index: 9999;
}
.rankInput{
  display:flex;
  .el-input__inner{
    padding: 0 5px;
    text-align: center;
  }
}
.vipText{
  .el-textarea__inner{
    height: 37px!important;
  }
}
.el-pagination{
  text-align: center;
  margin-top: 20px;
}
  // .el-date-picker__prev-btn,.el-date-picker__next-btn{
  //   display: none;
  // }
  .kpiTable {
      input {
        text-align: right !important;
      }
  }

.el-picker-panel__footer{
  .el-button--text{
    display: none;
  }
}
.index-container{
  // .text-hide{
  //   color:#90979c;
  // }
  .sidebar-l{
    &>div{
      margin-bottom: 12px!important
    }
  }
}
.filter-user{
  .filter-item{
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
  }
}
.excelUpload{
  text-align: right;
  margin-bottom: 10px;
  span{
    color:#409eff;
    font-size: 15px;
    cursor: pointer;
  }
}
.el-textarea{
  .el-textarea__inner{
    font-size: 12px;
  }
}
// .el-table__empty-block{
//   display: block;
// }
.el-table thead{
  // color:rgba(0,0,0,.7);
  font-weight: 200!important;
}
// .el-table th>.cell{
//   font-weight: 500;
// }
.alink{
  color:#409eff;
  cursor: pointer;
}
.fil-container{
  .el-form-item__label{
    // max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .el-form-item__content{
    width: 150px;
  }
}

.data-amount {
  .card-panel {
    height: 99px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #000;
    background: #fff;
    // box-shadow: 0 2px 11px 0 rgba(190, 202, 218, 0.17);
    border-color: rgba(0, 0, 0, 0.05);
    transition: all 0.5s linear;

    .icon-people {
      color: #40c9c6;
    }
    .icon-message {
      color: #36a3f7;
    }
    .icon-money {
      color: #f4516c;
    }
    .icon-shopping {
      color: #34bfa3;
    }
    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }
    .card-panel-icon {
      float: left;
      font-size: 48px;
    }
    .card-panel-description {
      margin: 11px 16px 26px;
      .card-contrast {
        margin-top: 5px;
        & > div {
          margin-bottom: 2px;
        }
        span {
          white-space: normal;
          word-break: break-all;
        }
      }
      .card-panel-text {
        line-height: 18px;
        color: #000;
        // font-size: 9px;
        // margin-bottom: 2px;
      }
      .card-panel-num {
        font-size: 15px;
        // font-weight: 700;
      }
    }
  }
  .el-row {
    & > div {
      margin-bottom: 15px !important;
    }
    & > div:last-child {
      // margin-bottom: 0 !important;
    }
  }
}

.index-container{
	.data-amount {
	  .card-panel {
			height: 130px;
			background:rgb(247,249,250);
		}
	}	
}
.buriedPoint{
  .page-table{
    .el-row{
      align-items: center;
      display: flex;
    }
  }
}
.sub-navbar.draft{
  background: #d0d0d0;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}
.createPost-container .el-date-editor.el-input{
  width: 181px;
}
.po-relative{
  position: relative;
}
.el-tooltip__popper{
  max-width:300px;
}
.serial-number{
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  margin-right: 5px;
  color: #90979c;
}
.serial-number.active{
  color: #fff;
  background-color: #314659;
  border-radius: 100%;
}
.dflex{
  .dateRadio{
    margin-left: 20px;
    margin-top: 8px;
  }
}
.createPost-main-container{
  .upload_tip{
    .el-form-item__content{
      line-height: 12px;
    }
  }
  
}
.index-action{
  padding: 0!important;
}
.el-tooltip__popper{
  white-space: pre-line!important;
}
.el-cascader{
  top:-3px;
}
.block-control {
    border-top: 1px solid #eaeefb;
    height: 46px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
		border: 1px solid #eaeefb;
		background-color: #f9fafc;
		.control-button {
				line-height: 26px;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 14px;
				padding-right: 20px;
		}
}

.chooseSystem,.dailyKanban,.dailyEdit{
    .el-tabs__nav-wrap::after{
      background-color: transparent;
    }
  }
.el-icon-circle-close{
	color:#fff;
}
.userPortraitManage{
	.el-select{
		max-width:100%;
	}
}
.userFilter{
	.el-form--inline {
		.el-form-item{
			margin-right: 29px;
    }
  }
	.el-dialog__body{
		.el-checkbox{
			width:200px;
			margin-bottom: 10px;
		}
	}
}

.nest-menu{
  .el-submenu{
    .el-submenu__title{
      // padding-left: 47px!important;
    }
  }
}

.el-breadcrumb__inner{
	a:hover{
		cursor: auto;
	}
}
.visitorsAnalysis{
	.el-progress__text{
		font-size: 12px!important;
	}
}
.activeDetail{
	.container-box:last-child{
		// margin-bottom: 0!important;
	}
}
.el-tooltip__popper{
	white-space: pre-line!important;
}
.container{
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f0f2f5;
  overflow: hidden;
  min-height: calc(100vh - 100px);
}
.table_wrp{
	.el-table th.is-leaf{
		background: #fff!important;
	}
}
.dailyKanban{
	.el-select{
		max-width: 210px;
		width: 210px;
	}
}
.el-dialog__body{
	img{
		width:100%;
		height: 100%;
	}
}
.editor-custom-btn-container{
	display: none;
}
.flow-wrap{
	.el-row{
		margin-left: 14% !important;
		/* margin-right: 0% !important; */
		position: absolute;
		width: 66%;
		top: 258px;
  }
  .el-button{
    padding:0;
    font-size:12px;
  }
}
.categoryManage{
  .box-card.selectActive{
    background: #EFF8FF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    cursor: auto;
  }
  .el-card__body{
    padding: 0;
  }
  .list-box{
    height: 452px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 20px;
  }
}
.media-box_appmsg{
  display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    .media-box__bd{
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
    }
}
//双12大屏样式
.dataScreen{
  
  .hideSidebar .el-tooltip > div{
    margin-right: 0!important;
  }
	.el-table th, .el-table tr,.el-table, .el-table__expanded-cell{
		background: transparent!important;
	}
	.el-table__row{
		&:hover{
			background: transparent!important;
		}
		
	}
	.el-table td, .el-table th{
		padding:0.7vh 0;
  }	
  .box-bottom{
    .el-table td{
      padding: 0.7vh 0;
    }
  }
  // .comSales-tab,.commission-tab{
  //   .el-table td{
  //     padding: 0.64vh 0;
  //   }
    
  // }
  
	.el-table td, .el-table th.is-leaf{
		border-bottom:0;
	}
	.el-table--border::after, .el-table--group::after, .el-table::before{
		background: transparent;
	}
	.el-table th>.cell{
		font-size:0.8vw;
		font-family:PingFangSC-Regular,PingFang SC;
		font-weight:400;
		color:rgba(173,173,195,1);
	}
	.el-table .cell{
		line-height: inherit;
		font-size: 1.2vh;
  }
  
	.el-table__row{
    margin-top: 0.5vh;
    
  }
  .el-table__row:nth-child(1),.el-table__row:nth-child(2),.el-table__row:nth-child(3){
    td:nth-child(1){
      .cell{
        div{
          width: 2vh;
          height: 2vh;
          line-height: 2vh;
          border-radius: 100%;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          
        }
      }
    }
    
  }
	.tab-rank-circle{
		.el-table__row:nth-child(1),.el-table__row:nth-child(2),.el-table__row:nth-child(3){
      color: #fff;
      td:nth-child(1){
        .cell{
          div{
            background:#191424;
          }
        }
      }
		}
  }
  
  .tab-default-1{
    .el-table__row{
      td:nth-child(5){
        .cell{
          div{
            background: #E8CD96;
            color:#5E3E1F;
          }
        }
      }
    }
    .el-table__row:nth-child(4),.el-table__row:nth-child(5){
      color: #ADADC3;
      
      td:nth-child(5){
        .cell{
          div{
            background: #BF9668;
            color:#5E3E1F;
          }
        }
      }
		}
  }
  .tab-default-1{
    .el-table__row:nth-child(4),.el-table__row:nth-child(5){
      td:nth-child(5){
        .cell{
          div{
            background: #BF9668;
          }
        }
      }
		}
  }
  .tab-default-11{
    .el-table__row:nth-child(4),.el-table__row:nth-child(5){
      td:nth-child(4){
        .cell{
          div{
            background: #4140AD;
          }
        }
      }
		}
  }
	.tab-default-2{

		.el-table__row:nth-child(1){
			
				background: #42365E!important;
        color:#fff;
        
		}
		.el-table__row:nth-child(2){
						color:#fff;
            background: #34294E!important;
           
				}
				.el-table__row:nth-child(3){
								color:#fff;
                background: #2D2345!important;
               
						}
	}
	.tab-default-3{
		.el-table__row:nth-child(1){
			
				background: #7454DE!important;
        color:#fff;
        td:nth-child(1){
          .cell{
            div{
              
              background:#472595;
              
            }
          }
          
        }
		}
		.el-table__row:nth-child(2){
						color:#fff;
            background: #5839B9!important;
            td:nth-child(1){
              .cell{
                div{
                  
                  background:#472595;
                  
                }
              }
              
            }
				}
				.el-table__row:nth-child(3){
								color:#fff;
                background: #472595!important;
                td:nth-child(1){
                  .cell{
                    div{
                     
                      background:#5839B9;
                      
                    }
                  }
                  
                }
						}
	}
	.tab-default-4{
		
		.el-table__row:nth-child(1){
			
				background: #2989D6!important;
        color:#fff;
        td:nth-child(1){
          .cell{
            div{
              background: #4e6fe1;
            }
          }
          
        }
		}
		.el-table__row:nth-child(2){
						color:#fff;
            background: #4570EA!important;
            td:nth-child(1){
              .cell{
                div{
                  
                  background:rgba(63,72,189,1);
                  
                }
              }
              
            }
				}
				.el-table__row:nth-child(3){
								color:#fff;
                background: #3F48BD!important;
                td:nth-child(1){
                  .cell{
                    div{
                      
                      background:rgba(78,111,225,1);
                      
                    }
                  }
                  
                }
						}
  }
  .tab-default-5{
      .el-table__row:nth-child(1),.el-table__row:nth-child(2),.el-table__row:nth-child(3){
        color: #fff;
        td:nth-child(1){
          .cell{
            div{
              background:#31906E;
            }
          }
        }
      }
      .el-table__row:nth-child(1){
        background: #86B057!important;
      }
      .el-table__row:nth-child(2){
        background: #5BAF5F!important;
      }
      .el-table__row:nth-child(3){
        background: #31906E!important;
      }
  }
  .tab-default-7{
    .el-table__row:nth-child(1),.el-table__row:nth-child(2),.el-table__row:nth-child(3){
      color: #fff;
      td:nth-child(1){
        .cell{
          div{
            background:#A77D51;
          }
        }
      }
    }
    .el-table__row:nth-child(1){
      background: #C4A585!important;
    }
    .el-table__row:nth-child(2){
      background: #B58E66!important;
    }
    .el-table__row:nth-child(3){
      background: #A77D51!important;
    }
}
.tab-default-8{

  .el-table__row:nth-child(1){
    
      background: #825151!important;
      color:#fff;
      
  }
  .el-table__row:nth-child(2){
          color:#fff;
          background: #723E3E!important;
         
      }
      .el-table__row:nth-child(3){
              color:#fff;
              background: #6C2D2D!important;
             
          }
}
.tab-default-10{
  background: #191424;
  td{
    padding: 1.5vh 0;
  }
  .el-table__header{
    background: rgba(0,0,0,0.15);
    border-radius: 6px;
  }
}

	.el-progress-bar__outer{
		background-color: #191424;
	}
	.el-progress-bar__inner{
		background-color: #7573FF;
	}
	.el-progress__text{
		font-size: 1.5vh!important;
  }
  .el-progress-bar__outer{
    height: 1.5vh!important;
  }
  .el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: transparent !important;
  }
  .el-table{
    color:#ADADC3;
  }
  .el-progress__text{
    display: none;
  }
  .el-progress-bar{
    padding-right: 28px!important;
  }
  .tab-default-2,.tab-default-3,.tab-default-4,.tab-default-5,.tab-default-6 ,.tab-default-7 ,.tab-default-8{
    tbody{
      width: inherit;
      .el-table__row{
        display: flex;
        width: inherit;
        margin-bottom: 10px;
        margin: 0.7vh 0;
        td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5){
          flex:1;
        }
        &>td:nth-child(1){
          width: 60px!important;
        }
        
      }
      td, th{
        padding: 0.8vh 0;
      }	
    }
  }
  .tab-default-6{
    .sales-tab-custom,.search-tab-custom{
      color: #fff;
    }
    td{
      line-height:1.8vh;
    }
    td, th{
     
      padding: 1.4vh 0!important;
    }
    .cell{
      div{
        margin-top: 0.5vh;
        // &:not('sales-tab-custom'){
        //   margin-top: 0;
        // }
      }
      
    }
  }
  .tab-default-7{
    .el-table__row{
      margin: 2vh 0!important;
     
    }
  }
}
// .el-tooltip__popper.is-light{
//   background: #7E68FF;
//   color: #fff;
//   border: 1px solid #7E68FF;
// }
.comList{
  .el-date-editor {
    .el-range-input{
      width: 36%;
    }
  }
  .el-date-editor--datetimerange.el-input__inner{
    width: 100%;
  }
}
.busDataScreen{
  .box-wrap>div{
    padding: 0.5vh 2vh!important;
  }
  .flex-2-1-5{
    .el-table{
      border-radius: 5px;
      background: #191424!important;
      td{
        padding: 2.7vh 0;
      }
    }
    .el-col-8:first-child{
      .el-table{
        background: transparent!important;
        border: 1px solid #AD7DFF;
        padding: 0 10px;
        td{
          padding: 2.3vh 0;
        }
        .el-table__row:nth-child(1),.el-table__row:nth-child(2),.el-table__row:nth-child(3){
          td:nth-child(1){
            .cell{
              div{
                margin-top: 0.5vh;
              }
            }
          }
          div.cell{
            height:3vh;
            line-height: 3vh;
            background: #6B3ABE;
            color:#fff;
            
          }

        }
       
      }
    }
    .box-mid{
      .el-col-8:first-child{
        .el-table{
          border: 1px solid #DE62B2;
          .el-table__row:nth-child(1),.el-table__row:nth-child(2),.el-table__row:nth-child(3){
        
            div.cell{
              height:3vh;
              line-height: 3vh;
              background: #7F225E;
              color:#fff;
              
            }
    
          }
        }
        
      }
      
    }
  }
}
.operaDataScreen{
  .resource-tab{
    .el-table__row{
      td{
        &:nth-child(3){
          flex:0.6!important;
        }
      }
    }
  }
}
.dailyStatistics{
  .opera-tab{
    .el-table__row{
      td{
        &:nth-child(4){
          flex:0.4!important;
        }
      }
    }
  }
  .operaUp{
    .el-table__row{
      td{
        &:nth-child(2){
          flex:3!important;
        }
      }
    }
  }
}
//会员大屏样式覆盖
.vipDataScreen{
  .select-input{
    position: absolute;
    right: 7px;
    top: 4.8vh;
    .el-select{
      width: 80px;
      .el-input__icon{
        line-height: 19px;
        width: 16px;
      }
      .el-input__inner{
        padding: 0 9px;
        height: 20px !important;
        line-height: 20px !important;
      }
    }
    
  }
  .box-bottom {
    .sea-tab,.person-tab{
      .el-table td{
        padding: 0.9vh 0;
      }
    } 
  } 
}
.lhouseTime{
  width: 220px!important;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 220px!important;
}
// .auth-btn-hover{
//   transition: 0.5s;
//   position:fixed;
//   top:-25px;
//   right:80px;
//   z-index:999;
//   &:hover{
//       padding-top: 30px!important;
//   }
// }
.el-checkbox-group{
  font-size: 15px;
  color:#3a8ee6;
  // margin-bottom: 20px;
}
//app入口页面
.app-entrance{
  .el-card{
    background-color:transparent;
    border:0;
    .el-card__body{
      background: rgba(0,0,0, 0);
      text-align: center;
    }
  }
}
.navbar{
  .el-menu-item.is-active{
    background-color: #2E323F!important;
  }
}
//栅格拖动布局
.vue-grid-item{
  background: #fff;
  // z-index: 100;
  &:hover{
    box-shadow: 0 6px 10px 0 #d8d7dc;
  }
  &:active{
    border: 1px solid #3a8ee6;
  }
  &:focus{
    border: 1px solid #3a8ee6!important;
  }
}
//仪表板制作页面

.container-editDashboard{
  .no-drag{
    .wrap {
      height: calc(100% - 67px)!important;
    }
  }
  .mce-menubar{
    display: none;
  }
  
  .content{
    padding:0!important;
    .no-drag{
      padding:20px;
    }
  }
  .vue-grid-layout{
    min-height: calc(100vh - 200px)!important;
  }
  .el-card__body{
    height: calc(100vh - 200px);
    overflow-x: auto;
    padding: 0;
  }
  .el-radio-group{
    margin-right: 25px;
  }
  .el-card__header{
    padding: 5px 20px;
  }
}
.container-dashboardView{
  .el-card__body{
    padding:0;
  }
}
.container-dashboardView,.container-editDashboard{
  .index-wrap{
    .el-card__body{
      height: 120px;
      padding: 20px;
    }
  }
}