@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  margin: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

/*----------------------------------------------------------------*/

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 8px;  /*滚动条宽度*/
    height: 8px;  /*滚动条高度*/
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #999;  /*滚动条的背景颜色*/
}

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #999;  /*滚动条的背景颜色*/
}
//超出省略号
.text-hide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.card-panel-num{
	word-wrap:break-word
}
.br10{
  border-radius: 2px;
}
// .hideSidebar .el-tooltip > div{
//   margin-right: 12px!important;
// }
.el-table--scrollable-x .el-table__body-wrapper{
  // z-index: 99;
}
.el-table__fixed-body-wrapper{
  z-index: 99;
}
/*大于1200px屏幕尺寸应用以下样式*/
@media screen and (min-width:1200px){ 
  
  .index-container .card-panel-num{
      font-size: 25px!important;
    }
}
/*大于960px小于1199px屏幕尺寸应用以下样式*/
@media screen and (min-width:960px) and (max-width:1199px) { 
  
    .index-container .card-panel-num{
      font-size: 22px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
/*大于768px小于959px屏幕尺寸应用以下样式*/
@media screen and (min-width: 768px) and (max-width: 959px) { 
 
    .index-container .card-panel-num{
      font-size: 20px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
/*大于480px小于767px屏幕尺寸应用以下样式*/
@media only screen and (min-width: 767px) and (max-width:767px){ 
  
  .index-container .card-panel-num{
      font-size: 18px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
/*小于479px屏幕尺寸应用以下样式*/
@media only screen and (max-width: 479px) { 
  
  .index-container .card-panel-num{
      font-size: 16px!important;
    }
    .card-panel-text,.chart-wrapper-title{
      font-size:14px!important;
    }
}
.el-progress__text{
  margin-left: 13px;
}
.box-card-component{
  margin-left: 0;
}
.el-date-editor .el-range-input{
  font-size: 12px;
}

.container-box{
  // margin-bottom: 24px;
  border-radius: 2px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
}

.el-submenu__title,.submenu-title-noDropdown span{
  font-size: 13px!important;
  color:#fff!important;
}
// 覆盖样式
.el-radio-button .el-radio-button__inner{
  border:0;
  border-right: 1px solid #DCDFE6;
}
.dateRadio .el-radio-button__inner{
  padding: 4px 9px;
}
.el-radio-button:first-child .el-radio-button__inner{
  border-left: 0;
  padding-left: 0;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background: #fff;
  color:#24A0FF;
  border-color: #DCDFE6;
  box-shadow: -1px 0 0 0 #DCDFE6; 
}
.el-radio-button__inner{
  color:rgb(190,197,220);  
}
.el-date-editor .el-range-input{
  width: 36%;
}
.el-date-editor .el-range-separator{
  margin-right: 7px;
}
.wrap-table .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #fff !important;
}
.index-container .box-card-component .progress-item,.index-container .el-progress__text{
  font-size: 12px!important;
}

.chart-wrapper .el-input,.card-panel .el-input{
  font-size: 12px!important;
}
.chart-wrapper-title{
  color: #000;
    font-size: 17px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-left: 4px solid #409eff;
}

//栅格拖动布局
.vue-grid-item{
  background: #fff;
  &:hover{
    box-shadow: 0 6px 10px 0 #d8d7dc;
  }
  &:active{
    border: 1px solid #3a8ee6;
  }
  &:focus{
    border: 1px solid #3a8ee6!important;
  }
}
//仪表板制作页面

.container-editDashboard{  
  .mce-menubar{
    display: none;
  }
  
  .content{
    padding:0!important;
    .no-drag{
      padding:20px;
    }
  }
  .vue-grid-layout{
    min-height: calc(100vh - 200px)!important;
  }
  .el-card__body{
    height: calc(100vh - 200px);
    overflow-x: auto;
    padding: 0;
  }
  .el-radio-group{
    margin-right: 25px;
  }
  .el-card__header{
    padding: 5px 20px;
  }
}
.container-dashboardView{
  .el-card__body{
    padding:0;
  }
}
.container-dashboardView,.container-editDashboard{
  .index-wrap{
    .el-card__body{
      height: 120px;
      padding: 20px;
    }
  }
}